.Block__root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}

.Block__vertical {
  flex-direction: row;
}

.Block__root:nth-child(even) {
  /* background: #111; */
}