.TrainTimetable__root {
  font-size: 36px;
}

.TrainTimetable__title {
  font-size: 50px;
  margin-bottom: 30px;
}

.TrainTimetable__item {
  width: 90vw;
  padding-bottom: 30px;
  border-bottom: 1px solid white;
  margin-bottom: 30px;
}

.TrainTimetable__item:last-child {
  margin-bottom: 0;
  border: none;
}

.TrainTimetable__highlight {
  color: red;
}

.TrainTimetable__essential {
  font-size: 50px;
  font-width: 100;
  margin-bottom: 25px;
}

.TrainTimetable__time {
  display: inline-block;
  min-width: 100px;
  margin-right: 15px;
}

.TrainTimetable__track {
  float: right;
  background: #222;
  color: white;
  border-radius: 30px;
  width: 60px;
  text-align: center;
}

.TrainTimetable__info {
  margin-left: 80px;
}

.TrainTimetable__causes {
  color: red;
  font-size: 25px;
}
